<!DOCTYPE html>
<html>
<head>
    <script src="angular.js"></script>
</head>

<label>Set the first name: <input type="text" ng-model="firstName"/></label><br />
<label>Set the last name: <input type="text" ng-model="lastName"/></label>
<body ng-app ng-init="firstName = 'John'; lastName = 'Doe';">
<strong>First name:</strong> {{firstName}}<br />
<strong>Last name:</strong> <span ng-bind="lastName"></span><br />
<br />

</body>
</html>